.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
}
.badge-exclamation {
  border-color: tomato;
  width: 16px;
  height: 16px;
  background-color: wheat;
  border-radius: 8px;
  display: flex;
  position: absolute;
  right: -20px;
  top: 47px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: tomato;
}

@keyframes coinRolling {
  0% {
    transform: none;
  }

  50% {
    transform: scale(0.8) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.ani {
  animation: coinRolling 2s ease-in-out infinite;
}
